<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu - Accueil</title>
    <link rel="stylesheet" href="/css/StyleHome.css" type="text/css">
</head>
<body>
    <div class="block">
        <header class="container">
            <h1>Bienvenue dans hangman-web !!!!</h1>
            <h3> Montpellier Ynov campus </h2>
            <br></br>
            <br></br>
            <br></br>
            <h2> choix du niveaux :</h2>
            <br></br>
            <br></br>
        </header>
        <div class="boutonDeMenu">
            <form action="/hangman" class="boutonDeMenu">
                <button class="bouton-level" id="easy" type="submit" name="easy" value="level" ></button>
                <button class="bouton-level" id="medium" type="submit" name="medium" value="level" ></button>
                <button class="bouton-level" id="hard" type="submit" name="hard" value="level" ></button>
            </form>
        </div>
    </div>
</body>
</html>
