<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF 8"/>
    <title>Home</title>

</head>
<body>
    <h1>HOME</h1>
    <input class="button" type="button" value="PLAY" />
</body>





</html>