
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu - Accueil</title>
    <link rel="stylesheet" href="../css/styleHome.css">

</head>
<body>
    <div id="background">
        <img src="web/utiles/Home.png" />
    </div>
    <div class="container">
        <header>
            <h1>Bienvenue au Jeu du Pendu !</h1>
        </header>
        
        <section class="intro">
            <p>Testez vos compétences en devinant les lettres et trouvez le mot caché avant que notre personnage ne soit pendu !</p>
        </section>

        <section class="start">
            <a href="/Play" class="start-button">Commencer le jeu</a>
        </section>
    </div>
</body>
</html>
