
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu - Accueil</title>
    <link rel="stylesheet" href="../css/StyleHome.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Loooooooose!!!!!!</h1>
        </header>
    

        <section class="start">
            <a href="/Home" class="start-button">recommencer le jeu</a>
        </section>
    </div>
</body>
</html>
