
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu - Accueil</title>
    <link rel="stylesheet" href="/css/StylePlay.css" type="text/css">
    <script src="/js/script.js"></script>
</head>
<body class="principal">
    
        <div class="Head">
            <h1>Bienvenue au Jeu du Pendu !</h1>
            <h4 id="essai">attemps : {{.Essai}} /9</h4>
            <h3 id="motadeviner">mot a deviner : {{.Mot}}</h3>
        </header>
        <section classe="menu-bouton">
            <a href="/Home" class="bouton" id="maison"></a>
            <a href="/Play"class="bouton" id="replay"></a>
        </section>
        
        <section class="intro">
            <p>Testez vos compétences en devinant les lettres et trouvez le mot caché avant que notre personnage ne soit pendu !</p>
        </section>
        <section class="start">
            <a href="/Win" class="start-button">WINNNNN</a>
            <a href="/Loose" class="start-button">Loooooooose</a>
        </section>
        <section class="lettre-bouton">
            <button class="bouton" id="A"></button>
            <button class="bouton" id="B"></button>
            <button class="bouton" id="C"></button>
            <button class="bouton" id="D"></button>
            <button class="bouton" id="E"></button>
            <button class="bouton" id="F"></button>
            <button class="bouton" id="G"></button>
            <button class="bouton" id="H"></button>
            <button class="bouton" id="I"></button>
            <button class="bouton" id="J"></button>
            <button class="bouton" id="K"></button>
            <button class="bouton" id="L"></button>
            <button class="bouton" id="M"></button>
            <button class="bouton" id="N"></button>
            <button class="bouton" id="O"></button>
            <button class="bouton" id="P"></button>
            <button class="bouton" id="Q"></button>
            <button class="bouton" id="R"></button>
            <button class="bouton" id="S"></button>
            <button class="bouton" id="T"></button>
            <button class="bouton" id="U"></button>
            <button class="bouton" id="V"></button>
            <button class="bouton" id="W"></button>
            <button class="bouton" id="X"></button>
            <button class="bouton" id="Y"></button>
            <button class="bouton" id="Z"></button>
            
        </section>
        
    </div>
    </div>
</body>
</html>
