
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu - Accueil</title>
    <link rel="stylesheet" href="/css/StylePlay.css" type="text/css">
    <script src="/js/script.js"></script>
</head>
<body class="principal">
    
        <div class="Head">
            <h1>Bienvenue au Jeu du Pendu !</h1>
            <h2>Ynov campus montpellier</h2>
        </div>
        <nav class="information">
            <section class="info">
                <h4 id="essai">attemps : {{.Essai}} /10</h4>
                <h3 id="motadeviner">mot a deviner : {{.Mot}}</h3>
                <h3 id="motadeviner">mot motInconnu : {{.Find}}</h3>
                <h3 id="usedletter">usedletter :</h3>
                <p>Testez vos compétences en devinant les lettres et trouvez le mot caché avant que notre personnage ne soit pendu !</p>
            </section>

            <section class="dev">
                <a href="/Win" id="Win">WINNNNN</a>
                <a href="/Loose" id="Loose">Loooooooose</a>
            </section>
        </nav>

        <section class="boutonDeMenu">
            <form action="/Home" method="get"><button class="bouton-menu" id="maison" type="submit" value=""></button></form>
            <form action="/hangman" method="get"><button class="bouton-menu" id="replay" type="submit" value=""></button></form>
        </section>
        <div class="image-container">
            <img src="/utiles/etat{{.Essai}}.png" alt="État du pendu" class="pendu-image">
        </div>
        
        <form class="clavier" action="/hangman" method="post">
            <div class="clavier1">
                <button class="bouton" id="A" name="a" type="submit" value=""></button>
                <button class="bouton" id="B" name="b" type="submit" value=""></button>
                <button class="bouton" id="C" name="c" type="submit" value=""></button>
                <button class="bouton" id="D" name="d" type="submit" value=""></button>
                <button class="bouton" id="E" name="e" type="submit" value=""></button>
                <button class="bouton" id="F" name="f" type="submit" value=""></button>
                <button class="bouton" id="G" name="g" type="submit" value=""></button>
                <button class="bouton" id="H" name="h" type="submit" value=""></button>
                <button class="bouton" id="I" name="i" type="submit" value=""></button>
                <button class="bouton" id="J" name="j" type="submit" value=""></button>
                <button class="bouton" id="K" name="k" type="submit" value=""></button>
                <button class="bouton" id="L" name="l" type="submit" value=""></button>
                
            </div>
            <div class="clavier2">
                <button class="bouton" id="M" name="m" type="submit" value=""></button>
                <button class="bouton" id="N" name="n" type="submit" value=""></button>
                <button class="bouton" id="O" name="o" type="submit" value=""></button>
                <button class="bouton" id="P" name="p" type="submit" value=""></button>
                <button class="bouton" id="Q" name="q" type="submit" value=""></button>
                <button class="bouton" id="R" name="r" type="submit" value=""></button>
                <button class="bouton" id="S" name="s" type="submit" value=""></button>
                <button class="bouton" id="T" name="t" type="submit" value=""></button>
                <button class="bouton" id="U" name="u" type="submit" value=""></button>

            </div>
            <div class="clavier3">
                <button class="bouton" id="V" name="v" type="submit" value=""></button>
                <button class="bouton" id="W" name="w" type="submit" value=""></button>
                <button class="bouton" id="X" name="x" type="submit" value=""></button>
                <button class="bouton" id="Y" name="y" type="submit" value=""></button>
                <button class="bouton" id="Z" name="z" type="submit" value=""></button>
            </div>
        </form>
</body>
</html>
