
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Pendu - Accueil</title>
    <link rel="stylesheet" href="/css/StylePlay.css" type="text/css">
</head>
<body class="principal">
    
        <div class="Head">
            <h1>Bienvenue au Jeu du Pendu !</h1>
            <h2>Ynov campus montpellier</h2>
        </div>
        <div class="information">
            <section class="info">
                <h1 id="essai">Erreures : {{.Attemps}} /10</h1>
                <h2 id="motadeviner">Mot a deviner: {{.HiddenWord}}</h2>
                <br>
                <h2 id="usedletter">Lettres utilisées :{{.Usedletter}}</h2>
                <br>
                <h3>Testez vos compétences en devinant les lettres et trouvez le mot caché avant que notre personnage ne soit pendu !</h3>
            </section>
        </div>
        <form action="/Home" class="boutonDeMenu">
            <div>
                <button class="bouton-menu" id="maison" type="submit" value="home" name="bouton-menu"></button>
            </div>
        </form>
        <form action="/hangman" class="boutonDeMenu">
            <div>
                <button class="bouton-menu" id="replay" type="submit" value="restart" name="bouton-menu" ></button>
            </div>
        </form>
        <div class="image-container">
            <img src="/utiles/etat{{.Attemps}}.png" alt="État du pendu" class="pendu-image">
        </div>
        <form class="clavier" action="/hangman">
            <div class="clavier1">
                <button class="bouton" id="A" name="lettre" type="submit" value="a"></button>
                <button class="bouton" id="B" name="lettre" type="submit" value="b"></button>
                <button class="bouton" id="C" name="lettre" type="submit" value="c"></button>
                <button class="bouton" id="D" name="lettre" type="submit" value="d"></button>
                <button class="bouton" id="E" name="lettre" type="submit" value="e"></button>
                <button class="bouton" id="F" name="lettre" type="submit" value="f"></button>
                <button class="bouton" id="G" name="lettre" type="submit" value="g"></button>
                <button class="bouton" id="H" name="lettre" type="submit" value="h"></button>
                <button class="bouton" id="I" name="lettre" type="submit" value="i"></button>
                <button class="bouton" id="J" name="lettre" type="submit" value="j"></button>
                <button class="bouton" id="K" name="lettre" type="submit" value="k"></button>
                <button class="bouton" id="L" name="lettre" type="submit" value="l"></button>
            </div>
            <div class="clavier2">
                <button class="bouton" id="M" name="lettre" type="submit" value="m"></button>
                <button class="bouton" id="N" name="lettre" type="submit" value="n"></button>
                <button class="bouton" id="O" name="lettre" type="submit" value="o"></button>
                <button class="bouton" id="P" name="lettre" type="submit" value="p"></button>
                <button class="bouton" id="Q" name="lettre" type="submit" value="q"></button>
                <button class="bouton" id="R" name="lettre" type="submit" value="r"></button>
                <button class="bouton" id="S" name="lettre" type="submit" value="s"></button>
                <button class="bouton" id="T" name="lettre" type="submit" value="t"></button>
                <button class="bouton" id="U" name="lettre" type="submit" value="u"></button>
            </div>
            <div class="clavier3">
                <button class="bouton" id="V" name="lettre" type="submit" value="v"></button>
                <button class="bouton" id="W" name="lettre" type="submit" value="w"></button>
                <button class="bouton" id="X" name="lettre" type="submit" value="x"></button>
                <button class="bouton" id="Y" name="lettre" type="submit" value="y"></button>
                <button class="bouton" id="Z" name="lettre" type="submit" value="z"></button>
            </div>            
        </form>
</body>
</html>
