/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/utiles/Background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}
.boutonDeMenu {
   text-align: center;
}
.bouton-menu {
    border-width: 0px;
    background-color: transparent;
    padding: 75px;
    border-radius: 100px;
    background-size: 170px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
    cursor: pointer;
    z-index: 2;

}
.bouton-menu:hover {
    opacity: 0.5;
}

#replay {
    background-image: url('/utiles/bouton_Restart.png');
    position: relative;
    right: 150px;
    bottom: 141px;
}
#maison {
    background-image: url('/utiles/bouton_home.png');
    position: relative;
    left: 150px;
    top: 10px;
}
.block {
    padding: 20px;
    background-image: url('/utiles/Home.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-color: antiquewhite;
    height: 300px;
    width: 600px;
    text-align: center;
    border-width: 10px;
    border-style: ridge;

}
.pendu-image {
    float: right;
}
.container {
    text-align: center;
}