/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('/utiles/Background.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}


.bouton {
    border-width: 0px;
    background-color: transparent;
    padding: 30px;
    border-radius: 160px;
    background-size: 160px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
    cursor: pointer;
    
}
#maison{
    position: relative;
    left: 160px ;
    background-size: 160px ;
    background-image: url('/utiles/bouton_home.png');
}
#replay{
    position: relative;
    right: 150px ;
    background-size: 160px ;
    background-image: url('/utiles/bouton_Restart.png');
}