/* style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-size: 40px;
}
h2 {
    color: blue;
    font-family: cursive;
}
html {
    font-family: cursive;
    background-color: #f3f4f6; 
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
<<<<<<< HEAD
    background-image: url('/utiles/Home.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-size: large;
}

.start-button {
    display: inline-block;
    padding: 10px 20px;
    color: rgb(24, 23, 23);
    font-weight: bold;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
}
h1 {
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
.video {
    width: 50%;
    height: auto;
    text-align: center;
    border: #333;
=======
    background-image: url('/utiles/Home.png'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
}

.bouton-level {
    border-width: 0px;
    background-color: transparent;
    padding: 75px;
    border-radius: 100px;
    background-size: 140px;
    background-position: center;
    background-repeat: no-repeat;
    transition: background-image 0.5s;
    cursor: pointer;
    z-index: 2;

}
.bouton-level:hover {
    opacity: 0.5;
}
#easy {
    background-image: url('/utiles/bouton_easy.png');

}
#medium {
    background-image: url('/utiles/bouton_medium.png');
}
#hard {
    background-image: url('/utiles/bouton_hard.png');
}
.block {
    padding: 20px;
    background-image: url('/utiles/Home.png');
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    border-color: antiquewhite;
    height: 550px;
    width: 600px;
    text-align: center;
    border-width: 10px;
    border-style: ridge;
   

>>>>>>> 07fcb092bba938cfe14696b7a70cc7eb3f42faff
}
